//导航的ui样式
//一级样式ui的
.el-submenu .el-menu-item{
    font-size:14px;
    padding-left:50px !important;
  &.is-active{
    background-color:rgba(245,108,108,0.2) !important;
  }
}
//二级样式ui的
.el-menu--vertical{
  .el-menu{
    background-color: #344a5f !important;
  }
  .el-menu-item{line-height:56px;}
  .el-menu-item:hover{background-color:rgba(0,0,0,0.5) !important;}
}
//下拉选择文字居中
.el-select-dropdown__list{
  text-align:center;
  line-height:34px;
}